@font-face {
    font-family:'minhafonte';
    src:url("../fontes/idroid.otf");
    font-weight: normal;
}
@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & display=swap');

:root {
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #63C26C;
    --cor3: #3C7542;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'minhafonte', cursive; 
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    text-align: center;
    min-height: 150px;
    color:aliceblue;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.264);
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    margin: auto;
    padding: 0px 10px 10px 10px;
}

header > h1  {
    font-family: var(--fonte-destaque);
    font-size: 3em;
    color: aliceblue;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.264);
    font-weight: lighter;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 20px;
}

nav {
    background-color: var(--cor5);
    color: aliceblue;
    text-align: justify;
    padding: 10px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.309);
}
nav > a {
    color: aliceblue;
    text-decoration: none;
    padding: 10px;
    font-family: var(--fonte-padrao);
    border-radius: 5px;
    transition-duration: .5s;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

body {
    background-color: var(--cor0);
}

p {
    text-indent: 25px;
    margin: 15px 0px;
    line-height: 1.5em;
 }

main {
    background-color: aliceblue;
    padding: 30px;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.309);
    text-align: justify;
    font-family: var(--fonte-padrao);
}

a, strong {
    color: var(--cor2);
    font-weight: bold;
    text-decoration: none;  
}

a:hover {
    background-color: var(--cor3);
    color: aliceblue;
}

main h1 {
    font-family: var(--fonte-android);
    padding: 20px 10px;
    color: var(--cor3);
    text-align:left;
    font-size: 30px;
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor3);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 10px;
}

aside {
    background-color: aliceblue;
    padding: 30px;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.309);
    text-align: justify;
    font-family: var(--fonte-padrao);
}

div > ul {
    list-style-type: '\2714\00A0\00A0'; /*00A0 serve pra criar o espaço entre o icon com a list*/
    list-style-position: inside; /*esse comando serve para manter a lista dentro do espaço do aside*/
    columns: 2;

}

aside h3 {
    font-family: var(--fonte-padrao);
    color: aliceblue;
    background-color: var(--cor3);
    height: 23px;
    font-size: 20px;
    padding: 5px;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.309);
    margin: -10px -10px 0px -10px;
    text-indent: 25px;
}
div#mais {
    border-color: var(--cor4);
    border-style: solid;
    padding: 0px 20px 20px 20px;
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

div#video {
    background-color: var(--cor4);
    position: relative;
    padding-bottom: 57%;
}

div#video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

footer {
    background-color: var(--cor5);
    color: aliceblue;
    padding: 5px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.309);
    text-align: center;
    font-family: var(--fonte-padrao);
}





